</main>

<footer style="clear: both;">
  <p style="background-color: lightslategray; color: white; padding: 5px;" >Copyright © <%= new Date().getFullYear() %></p>
</footer>

</div>
<div class="col col-3"></div>
</div>

<script>
  /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>


</body>
</html>